{{ define "main" }}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
  {{- $featured := $featured.Fill "1600x720" -}}

  <article>
    <header class="mast mast--section{{ with $featured}} mast--section-has-image{{end}} grid">
      <h1 class="mast__title">{{ .Title }}</h1>
      {{ with $featured -}}
        <figure class="mast__fig">
          <img src="{{ $featured.Permalink }}" class="mast__img"/>
        </figure>
      {{- end -}}
    </header>
    <div class="content grid">{{ .Content }}</div>
  </article>

  {{ range first 1 (where .Pages "Params.eventComplete" false) }}
    <article class="grid upcoming-event">
      <span class="upcoming-event__year">{{ dateFormat "2006" .Params.eventDate }}</span>
      <h2 class="upcoming-event__title">{{.Title}}</h2>
      <p class="upcoming-event__summary">{{.Summary}} <a href="{{.Permalink}}" title="">Learn more.</a></p>
    </article>
  {{ end }}

  <section class="content grid past-events">
    <article class="past-event-intro">
      {{ with .Params.PastEventsHeading }}<h2 class="past-event-intro__title">{{.}}</h2>{{ end }}
      {{ with .Params.PastEventsIntro }}<p class="past-event-intro__p">{{.}}</h1>{{ end }}
    </article>

    {{ range where .Pages "Params.eventComplete" true }}
      <article class="past-event">
        <h3 class="card__title">
          <a href="{{ .Permalink }}" class="card__link">{{ .Title }}</a>
        </h3>
        {{ if not .Params.noSummary }}
          <div class="listing__summary">{{ .Summary }}</div>
        {{ end }}
      </article>
    {{ end }}
  </section>
{{ end }}
