{{ define "main" }}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
  {{- $featured := $featured.Fill "1600x720" -}}

  <article class="content-grid">
    <header class="mast mast--section{{ with $featured}} mast--section-has-image{{end}} grid">
      <h1 class="mast__title">{{ .Title }}</h1>
      {{ with $featured -}}
        <figure class="mast__fig">
          <img src="{{ $featured.Permalink }}" class="mast__img"/>
        </figure>
      {{- end -}}
    </header>
    <div class="content grid">{{ .Content }}</div>
  </article>

  <section class="board-members board-members--alt grid">
    {{ with .Site.GetPage "board" }}
      <h2 class="board__heading">{{ .Title | title }}</h2>
      {{.Content}}
    {{ end }}

    <div class="cards">
      {{- range where .Pages.ByWeight "Params.exclude" "ne" "true" -}}
        <article class="card card--board">
          {{ if .Resources.GetMatch "*headshot*" }}
            {{- partial "responsive-image" (dict "img" "*headshot*" "class" "card--board" "alt" .Title "dot" .) -}}
          {{ else }}
            {{ partial "responsive-image-placeholder" (dict "class" "card--board") }}
          {{ end }}
          <header class="card__meta">
            <h4 class="card__title">{{with .Params.honorific}}{{.}} {{end}}{{ .Title }}</h4>
            <h6 class="card__subheading">
            {{ with .Params.positions }}
              {{ range . }}
                <span class="card__subheading_span">{{.}}<br /></span>
              {{ end }}
            {{ end }}
            </h6>
          </header>
        </article>
      {{- end -}}
    </div>
  </section>
{{ end }}
